*.aux
*.docx
*.log
*.synctex.gz
*.bbl
*.bcf
*.blg
*.run.xml
*-blx.bib
~$*
*thesis*.pdf
thesis.lof
thesis.lot
thesis.toc
Thumbs.db
drawings/*.dvi
drawings/*.pdf
mwe.*
auto
*contourtmp0.dat
*contourtmp0.script
*contourtmp0.table
